.my-packages {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64, 64, 64, 0.7);
  border-radius: 12px 12px 0 0;
}
td,
th {
  padding: 15px 100px;
  text-align: center;
}
th {
  background-color: #ba68c8;
  color: #fafafa;
  font-weight: 200;
  text-transform: uppercase;
}
tr {
  width: 100%;
  background-color: #fafafa;
}
tr:nth-child(even) {
  background-color: #eeeeee;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 668px) {
  table {
    width: 80%;
  }
  td,
  th {
    padding: 15px 30px;
  }
}
