.nav .nav-item {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.nav:last-child {
  margin-right: 0;
}
.displayName {
  margin-right: 5px;
}
.signOutBtn {
  margin-top: -2px;
}
